.ex-1-square:hover {
    transition: background-color 5s;
    background-color: red;
}

.ex-2-square {
    transition: 2s ease-out;
}
.ex-2-square:active {
    width: 100%;
}

.ex-3-square:hover {
    transition: border-radius 2s;
    border-radius: 50%;
}

.well:hover .ex-4-square {
    transition: 2s ease-out;
    width: 0;
    height: 0;
}

.ex-5-square {
    transition: 2s ease-out;

}
.ex-5-square:hover {
    width: 100px;
    height: 100px;
}
.ex-5-square:active {
    width: 25px;
    height: 25px;
}

.ex-6-img:hover {
    transition;
    filter:grayscale(1) ;
}

.ex-7-img:hover {
    transition: 2s ease-in-out;
    filter:contrast(3) sepia(1);
}

.ex-8-img:hover {
    transition: 2s ease-in-out;
    filter:opacity(3) invert(1);
    border-radius: 5%;
}

.ex-9-img:hover {
    transition: 4s ease-in-out;
    filter:sepia(1) blur(5px);
    border-radius: 5%;
    margin: 50px 0;
    width: 800px;
}

.ex-10-icon {
    animation: move1 1s infinite linear
    
}

/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */

@keyframes move1 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }  
}

.ex-11-icon:hover {
    animation: move2 1s linear 2 alternate
}
@keyframes move2 {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(90deg); }
    66% { transform: rotate(180deg); }
    100% { transform: rotate(270deg); }
}